<div class="dashboard-wrapper">
  
    <div class="dashboard-container">
      
      <div class="header-card-animated elevation-shadow">
        
        <div class="search-section">
          <app-buscador class="w-100" [searchOptions]="component.searchOptions" (search)="search($event)">
          </app-buscador>
        </div>
  
        <div class="title-action-section">
          
          <div class="title-block">
            <h2 class="text-white font-bold text-2xl m-0">
              CONTROL DE ASEGURADOS
            </h2>
          </div>
  
          <div class="actions-block">
              <button matTooltip="Registrar Nuevo Asegurado" type="button" class="btn-custom-green" (click)="openDialogRegister(true)">
                Registrar Asegurado
                <i class="bi bi-person-add ml-2"></i>
              </button>
  
              <div class="upload-wrapper">
                <app-subir-archivos></app-subir-archivos>
              </div>
          </div>
  
        </div>
      </div>
  
      <div class="table-card glass-effect elevation-shadow">
        <div class="table-responsive">
           <app-list-table 
              [service]="aseguradosserv" 
              [colums]="component.tableColumns"
              [filtros]="component.filters" 
              [getInputs]="component.getInputs" 
              [Pantalla]="pantalla"
              (rowClick)="rowClick($event)">
          </app-list-table>
        </div>
      </div>
  
    </div>
  </div>
  
  <div class="footer">
      <div fxLayoutAlign="center center" class="footer-content">
          <div class="footer-text">
              PRUEBA CHUBB SEGUROS
          </div>
      </div>
  </div>