<mat-sidenav-container *ngIf="showSidenav" class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value || 'over'">
    <div class="brand-header-container">
    
      <div class="brand-identity">
          <div class="icon-wrapper">
              <i class="bi bi-clipboard2-pulse"></i>
          </div>
          <h1 class="brand-title">
              ASEGURADORA
          </h1>
      </div>
  
      <button class="toggle-btn" type="button" (click)="sidenav.toggle()" matTooltip="Ocultar menú">
          <i class="bi bi-layout-sidebar-inset"></i> 
      </button>
  
  </div>
    <div class="contenedor-item">
      <div>
        <app-itemsidenav *ngFor="let item of items;" [item]="item"></app-itemsidenav>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <nav id="navb" class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="boton" type="button" (click)="sidenav.toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="dvbt" class="d-flex justify-content-end">
          <ng-container>
            <span>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{NombreUsuario}}
                </button>
                <ul class="dropdown-menu">

                  <li><a class="dropdown-item " (click)="Cerrarsesion()"><i class="bi bi-box-arrow-in-right"></i> Cerrar
                      sesion</a> </li>
                </ul>
              </div>
            </span>
          </ng-container>

        </div>
      </div>

    </nav>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet *ngIf="!showSidenav"></router-outlet>