<div class="dashboard-wrapper">
  
    <div class="dashboard-container">

        <div class="header-card-animated mb-4">
    
          <div class="search-section bg-white rounded p-2">
            <app-buscador class="w-100 mt-4" [searchOptions]="component.searchOptions" (search)="search($event)">
            </app-buscador>
          </div>
  
          <div class="title-action-section flex justify-between items-end mt-4">
            <div class="title-block">
              <h2 class="text-white font-bold text-2xl m-0">
                CONTROL DE SEGUROS
              </h2>
            </div>
  
            <div class="actions-block flex gap-4 items-end">
              <button  type="button" class="btn-custom-green" (click)="openDialogRegister(true)">
                Registrar Seguro
                <i class="bi bi-person-add ml-2"></i>
              </button>
  
              <div class="upload-wrapper">
                <app-subir-archivos></app-subir-archivos>
              </div>
          </div>
  
        </div>
      </div>
  
      <div class="table-card glass-effect elevation-shadow">
        <div class="table-responsive">
          <app-list-table 
              [service]="seguroserv" 
              [colums]="component.tableColumns"
              [getInputs]="component.getInputs" 
              (rowClick)="rowClick($event)" 
              [filtros]="component.filters">
          </app-list-table>
        </div>
      </div>
  
    </div>
  </div>
  
  <div class="footer">
      <div fxLayoutAlign="center center" class="footer-content">
          <div class="footer-text">
              PRUEBA CHUBB SEGUROS
          </div>
      </div>
  </div>